# SPDX-License-Identifier: GPL-2.0+
#
# Copyright (C) 2020-2022 Texas Instruments Incorporated - https://www.ti.com/
#	Suman Anna <s-anna@ti.com>

if TARGET_MYC_AM62X_A53

config SYS_BOARD
       default "myc_am62x"

config SYS_VENDOR
       default "myir"

config SYS_CONFIG_NAME
       default "myc_am62x"

source "board/myir/common/Kconfig"

endif

if TARGET_MYC_AM62X_R5

config SYS_BOARD
       default "myc_am62x"

config SYS_VENDOR
       default "myir"

config SYS_CONFIG_NAME
       default "myc_am62x"

config SPL_LDSCRIPT
	default "arch/arm/mach-omap2/u-boot-spl.lds"

source "board/myir/common/Kconfig"

endif
